#

In [ ]:
import pandas as pd

df=pd.read_csv('../resources/data/blinkit_orders.csv')

In [ ]:
head_row=df.head(10)
df_info=df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                5000 non-null   int64
 1   customer_id             5000 non-null   int64
 2   order_date              5000 non-null   object
 3   promised_delivery_time  5000 non-null   object
 4   actual_delivery_time    5000 non-null   object
 5   delivery_status         5000 non-null   object
 6   order_total             5000 non-null   float64
 7   payment_method          5000 non-null   object
 8   delivery_partner_id     5000 non-null   int64
 9   store_id                5000 non-null   int64
dtypes: float64(1), int64(4), object(5)
memory usage: 390.8+ KB

In [ ]:
print(df.isnull().sum())

order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

In [7]:
#descriptive stats of the dataset
descriptive_stats=df.describe()
print(descriptive_stats)

           order_id   customer_id  order_total  delivery_partner_id  \
count  5.000000e+03  5.000000e+03   5000.00000          5000.000000
mean   5.029129e+09  5.009685e+07   2201.86170         50050.318200
std    2.863533e+09  2.919082e+07   1303.02438         28802.276922
min    6.046500e+04  3.181300e+04     13.25000            43.000000
25%    2.531421e+09  2.404314e+07   1086.21500         24928.500000
50%    5.074378e+09  4.997808e+07   2100.69000         50262.500000
75%    7.488579e+09  7.621215e+07   3156.88250         74478.250000
max    9.998298e+09  9.989390e+07   6721.46000         99968.000000

          store_id
count  5000.000000
mean   4999.689000
std    2886.089242
min       1.000000
25%    2509.250000
50%    4987.000000
75%    7500.750000
max    9995.000000

In [ ]:
df.dtypes