<a href="https://colab.research.google.com/github/plot-masters/customer-segmentation/blob/main/notebook/customer_segmentation_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Apex Project: Team Plotmasters

1.   Utkarsh Tripathi  (2025EM1100146)
2.   Juwaria Qadri     (2025EM1100132)
3.   Mohammed Omar     (2025EM1100235)
4.   Merin Ann Cherian (2025EM1100211)

In [ ]:
import pandas as pd

df=pd.read_csv('/content/blinkit_orders.csv')

In [ ]:
head_row=df.head(10)
print(head_row)

     order_id  customer_id      order_date promised_delivery_time  \
0  1961864118     30065862   17-07-24 8:34          17-07-24 8:52
1  1549769649      9573071  28-05-24 13:14         28-05-24 13:25
2  9185164487     45477575  23-09-24 13:07         23-09-24 13:25
3  9644738826     88067569  24-11-23 16:16         24-11-23 16:34
4  5427684290     83298567   20-11-23 5:00          20-11-23 5:17
5  3265154092     43367112  18-03-23 16:29         18-03-23 16:49
6  4898355547     13284996  16-04-23 18:50         16-04-23 19:01
7  6568151549     88866835   31-03-24 6:26          31-03-24 6:37
8  6006693867     24496983  13-07-23 23:49          14-07-23 0:02
9   374186990     52215833   09-08-23 1:17          09-08-23 1:37

  actual_delivery_time   delivery_status  order_total payment_method  \
0        17-07-24 8:47           On Time      3197.07           Cash
1       28-05-24 13:27           On Time       976.55           Cash
2       23-09-24 13:29           On Time       839.05            UPI
3       24-11-23 16:33           On Time       440.23           Card
4        20-11-23 5:18           On Time      2526.68           Cash
5       18-03-23 16:48           On Time      3161.43            UPI
6       16-04-23 19:02           On Time       956.40           Card
7        31-03-24 6:39           On Time       905.47           Cash
8        14-07-23 0:05           On Time      1371.17           Card
9        09-08-23 1:44  Slightly Delayed      1601.19         Wallet

   delivery_partner_id  store_id
0                63230      4771
1                14983      7534
2                39859      9886
3                61497      7917
4                84315      2741
5                  554      3442
6                14630      1318
7                67714       115
8                91362      9021
9                77203      7955

In [ ]:
df_info=df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                5000 non-null   int64
 1   customer_id             5000 non-null   int64
 2   order_date              5000 non-null   object
 3   promised_delivery_time  5000 non-null   object
 4   actual_delivery_time    5000 non-null   object
 5   delivery_status         5000 non-null   object
 6   order_total             5000 non-null   float64
 7   payment_method          5000 non-null   object
 8   delivery_partner_id     5000 non-null   int64
 9   store_id                5000 non-null   int64
dtypes: float64(1), int64(4), object(5)
memory usage: 390.8+ KB

In [ ]:
print(df.isnull().sum())

order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

In [ ]:
#descriptive stats of the dataset
descriptive_stats=df.describe()
print(descriptive_stats)

           order_id   customer_id  order_total  delivery_partner_id  \
count  5.000000e+03  5.000000e+03   5000.00000          5000.000000
mean   5.029129e+09  5.009685e+07   2201.86170         50050.318200
std    2.863533e+09  2.919082e+07   1303.02438         28802.276922
min    6.046500e+04  3.181300e+04     13.25000            43.000000
25%    2.531421e+09  2.404314e+07   1086.21500         24928.500000
50%    5.074378e+09  4.997808e+07   2100.69000         50262.500000
75%    7.488579e+09  7.621215e+07   3156.88250         74478.250000
max    9.998298e+09  9.989390e+07   6721.46000         99968.000000

          store_id
count  5000.000000
mean   4999.689000
std    2886.089242
min       1.000000
25%    2509.250000
50%    4987.000000
75%    7500.750000
max    9995.000000

In [ ]:
df.dtypes

order_id                    int64
customer_id                 int64
order_date                 object
promised_delivery_time     object
actual_delivery_time       object
delivery_status            object
order_total               float64
payment_method             object
delivery_partner_id         int64
store_id                    int64
dtype: object

In [ ]:
#shape
print("Shape of DataFrame:", df.shape)
print("\nData Types:\n", df.dtypes)
print("\nFirst 5 Rows:\n", df.head())

Shape of DataFrame: (5000, 10)

Data Types:
 order_id                    int64
customer_id                 int64
order_date                 object
promised_delivery_time     object
actual_delivery_time       object
delivery_status            object
order_total               float64
payment_method             object
delivery_partner_id         int64
store_id                    int64
dtype: object

First 5 Rows:
      order_id  customer_id      order_date promised_delivery_time  \
0  1961864118     30065862   17-07-24 8:34          17-07-24 8:52
1  1549769649      9573071  28-05-24 13:14         28-05-24 13:25
2  9185164487     45477575  23-09-24 13:07         23-09-24 13:25
3  9644738826     88067569  24-11-23 16:16         24-11-23 16:34
4  5427684290     83298567   20-11-23 5:00          20-11-23 5:17

  actual_delivery_time delivery_status  order_total payment_method  \
0        17-07-24 8:47         On Time      3197.07           Cash
1       28-05-24 13:27         On Time       976.55           Cash
2       23-09-24 13:29         On Time       839.05            UPI
3       24-11-23 16:33         On Time       440.23           Card
4        20-11-23 5:18         On Time      2526.68           Cash

   delivery_partner_id  store_id
0                63230      4771
1                14983      7534
2                39859      9886
3                61497      7917
4                84315      2741

In [ ]:
#missing values
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

In [ ]:
# duplicates
print("\nNumber of Duplicated Rows:", df.duplicated().sum())

Number of Duplicated Rows: 0

In [ ]:
#checking anomalies
print("\nDescriptive Statistics:\n", df.describe(include='all'))

Descriptive Statistics:
             order_id   customer_id     order_date promised_delivery_time  \
count   5.000000e+03  5.000000e+03           5000                   5000
unique           NaN           NaN           4981                   4982
top              NaN           NaN  29-11-23 5:51         12-11-23 20:17
freq             NaN           NaN              3                      2
mean    5.029129e+09  5.009685e+07            NaN                    NaN
std     2.863533e+09  2.919082e+07            NaN                    NaN
min     6.046500e+04  3.181300e+04            NaN                    NaN
25%     2.531421e+09  2.404314e+07            NaN                    NaN
50%     5.074378e+09  4.997808e+07            NaN                    NaN
75%     7.488579e+09  7.621215e+07            NaN                    NaN
max     9.998298e+09  9.989390e+07            NaN                    NaN

       actual_delivery_time delivery_status  order_total payment_method  \
count                  5000            5000   5000.00000           5000
unique                 4983               3          NaN              4
top           29-11-23 5:59         On Time          NaN           Card
freq                      2            3470          NaN           1285
mean                    NaN             NaN   2201.86170            NaN
std                     NaN             NaN   1303.02438            NaN
min                     NaN             NaN     13.25000            NaN
25%                     NaN             NaN   1086.21500            NaN
50%                     NaN             NaN   2100.69000            NaN
75%                     NaN             NaN   3156.88250            NaN
max                     NaN             NaN   6721.46000            NaN

        delivery_partner_id     store_id
count           5000.000000  5000.000000
unique                  NaN          NaN
top                     NaN          NaN
freq                    NaN          NaN
mean           50050.318200  4999.689000
std            28802.276922  2886.089242
min               43.000000     1.000000
25%            24928.500000  2509.250000
50%            50262.500000  4987.000000
75%            74478.250000  7500.750000
max            99968.000000  9995.000000

In [ ]:
print("\n Categorical Column Summary:\n", df.describe(include=['object']))

 Categorical Column Summary:
            order_date promised_delivery_time actual_delivery_time  \
count            5000                   5000                 5000
unique           4981                   4982                 4983
top     29-11-23 5:51         12-11-23 20:17        29-11-23 5:59
freq                3                      2                    2

       delivery_status payment_method
count             5000           5000
unique               3              4
top            On Time           Card
freq              3470           1285

In [ ]:
if 'order_total' in df.columns:
    invalid_order_total = df[df['order_total'] <= 0]
    print("\n Rows with Invalid (≤0) Order Total:\n", invalid_order_total)

 Rows with Invalid (≤0) Order Total:
 Empty DataFrame
Columns: [order_id, customer_id, order_date, promised_delivery_time, actual_delivery_time, delivery_status, order_total, payment_method, delivery_partner_id, store_id]
Index: []

In [ ]:
#inconsistent date. need to be rectified before proceeding. need to be in the same format in all columns.
#invalid rows can be removed
if {'promised_delivery_time', 'actual_delivery_time'}.issubset(df.columns):
    df['promised_delivery_time'] = pd.to_datetime(df['promised_delivery_time'], errors='coerce')
    df['actual_delivery_time'] = pd.to_datetime(df['actual_delivery_time'], errors='coerce')
    invalid_delivery = df[df['actual_delivery_time'] < df['order_date']]
    print("\nRows with Invalid Delivery Times (Before Order Date):\n", invalid_delivery)

/tmp/ipython-input-2044985845.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['promised_delivery_time'] = pd.to_datetime(df['promised_delivery_time'], errors='coerce')
/tmp/ipython-input-2044985845.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['actual_delivery_time'] = pd.to_datetime(df['actual_delivery_time'], errors='coerce')

Rows with Invalid Delivery Times (Before Order Date):
         order_id  customer_id      order_date promised_delivery_time  \
1281  2148242015     39093069  30-04-23 23:48    2023-01-05 00:04:00
1563  7821942520     84468124  12-02-24 23:57    2024-02-13 00:12:00
2933  3368317718     70867736  31-05-24 23:59    2024-01-06 00:17:00

     actual_delivery_time        delivery_status  order_total payment_method  \
1281  2023-01-05 00:33:00  Significantly Delayed      3239.66            UPI
1563  2024-02-13 00:13:00                On Time      2732.91         Wallet
2933  2024-01-06 00:12:00                On Time       914.88            UPI

      delivery_partner_id  store_id
1281                13676      9904
1563                11136      5805
2933                96055       522

In [ ]:
#unique countsin each column
print("Unique Value Counts per Column:\n", df.nunique())

Unique Value Counts per Column:
 order_id                  5000
customer_id               2172
order_date                4981
promised_delivery_time    4982
actual_delivery_time      4983
delivery_status              3
order_total               4550
payment_method               4
delivery_partner_id       5000
store_id                  5000
dtype: int64