Apex Project: Team Plotmasters

1.   Utkarsh Tripathi  (2025EM1100146)
2.   Juwaria Qadri     (2025EM1100132)
3.   Mohammed Omar     (2025EM1100235)
4.   Merin Ann Cherian (2025EM1100211)

In [4]:
import pandas as pd

df=pd.read_csv('../resources/data/blinkit_orders.csv')

In [6]:
# Data Dictionary

df_dictionary = pd.read_csv('../resources/Data_Dictionary.csv')
display(df_dictionary)

,Feature Name,Data Type,Description,PK (Yes/No)
0,order_id,int64,Unique identifier for each order,Yes
1,customer_id,int64,Unique identifier for each customer,No
2,order_date,object,The timestamp when the order was placed,No
3,promised_delivery_time,object,The time informed to the customer for completi...,No
4,actual_delivery_time,object,The actual time when the order was delivered,No
5,delivery_status,object,The delivery status of the order,No
6,order_total,float64,The total price of the order (in Rupees),No
7,payment_method,object,The payment method used by the customer,No
8,delivery_partner_id,int64,Unique identifier representing the delivery pa...,No
9,store_id,int64,Unique identifier for the store that fulfilled...,No

In [ ]:
head_row=df.head(10)
df_info=df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                5000 non-null   int64
 1   customer_id             5000 non-null   int64
 2   order_date              5000 non-null   object
 3   promised_delivery_time  5000 non-null   object
 4   actual_delivery_time    5000 non-null   object
 5   delivery_status         5000 non-null   object
 6   order_total             5000 non-null   float64
 7   payment_method          5000 non-null   object
 8   delivery_partner_id     5000 non-null   int64
 9   store_id                5000 non-null   int64
dtypes: float64(1), int64(4), object(5)
memory usage: 390.8+ KB

In [ ]:
print(df.isnull().sum())

order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

In [ ]:
#descriptive stats of the dataset
descriptive_stats=df.describe()
print(descriptive_stats)

In [ ]:
df.dtypes

order_id                    int64
customer_id                 int64
order_date                 object
promised_delivery_time     object
actual_delivery_time       object
delivery_status            object
order_total               float64
payment_method             object
delivery_partner_id         int64
store_id                    int64
dtype: object