#

<a href="https://colab.research.google.com/github/plot-masters/customer-segmentation/blob/main/notebook/customer_segmentation_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Customer Segmentation Modelling

In [ ]:
import pandas as pd

df=pd.read_csv('/content/blinkit_orders.csv')

In [8]:
head_row=df.head(10)
display(head_row)

In [24]:
df_info=df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                5000 non-null   int64
 1   customer_id             5000 non-null   int64
 2   order_date              5000 non-null   object
 3   promised_delivery_time  5000 non-null   object
 4   actual_delivery_time    5000 non-null   object
 5   delivery_status         5000 non-null   object
 6   order_total             5000 non-null   float64
 7   payment_method          5000 non-null   object
 8   delivery_partner_id     5000 non-null   int64
 9   store_id                5000 non-null   int64
dtypes: float64(1), int64(4), object(5)
memory usage: 390.8+ KB

In [27]:
display(df.isnull().sum())

order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

In [26]:
#descriptive stats of the dataset
descriptive_stats=df.describe()
display(descriptive_stats)

In [ ]:
df.dtypes

In [31]:
#shape
display("Shape of DataFrame:", df.shape)
display("Data Types:", df.dtypes)
display("First 5 Rows:", df.head())

'Shape of DataFrame:'

(5000, 10)

'Data Types:'

order_id                    int64
customer_id                 int64
order_date                 object
promised_delivery_time     object
actual_delivery_time       object
delivery_status            object
order_total               float64
payment_method             object
delivery_partner_id         int64
store_id                    int64
dtype: object

'First 5 Rows:'

In [ ]:
#missing values
print('Missing Values:', df.isnull().sum(), sep="\n")

Missing Values:
order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

order_id                  0
customer_id               0
order_date                0
promised_delivery_time    0
actual_delivery_time      0
delivery_status           0
order_total               0
payment_method            0
delivery_partner_id       0
store_id                  0
dtype: int64

In [38]:
# duplicates
print("Number of Duplicated Rows:", df.duplicated().sum())

Number of Duplicated Rows: 0

In [41]:
#checking anomalies
print("Descriptive Statistics:\n")

display(df.describe(include='all'))

Descriptive Statistics:

In [44]:
print("Categorical Column Summary:\n")

display(df.describe(include=['object']))

Categorical Column Summary:

In [ ]:
if 'order_total' in df.columns:
    invalid_order_total = df[df['order_total'] <= 0]
    print("\n Rows with Invalid (≤0) Order Total:\n", invalid_order_total)

 Rows with Invalid (≤0) Order Total:
 Empty DataFrame
Columns: [order_id, customer_id, order_date, promised_delivery_time, actual_delivery_time, delivery_status, order_total, payment_method, delivery_partner_id, store_id]
Index: []

In [ ]:
#inconsistent date. need to be rectified before proceeding. need to be in the same format in all columns.
#invalid rows can be removed
if {'promised_delivery_time', 'actual_delivery_time'}.issubset(df.columns):
    df['promised_delivery_time'] = pd.to_datetime(df['promised_delivery_time'], errors='coerce')
    df['actual_delivery_time'] = pd.to_datetime(df['actual_delivery_time'], errors='coerce')
    invalid_delivery = df[df['actual_delivery_time'] < df['order_date']]
    print("\nRows with Invalid Delivery Times (Before Order Date):\n", invalid_delivery)

/tmp/ipython-input-2044985845.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['promised_delivery_time'] = pd.to_datetime(df['promised_delivery_time'], errors='coerce')
/tmp/ipython-input-2044985845.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['actual_delivery_time'] = pd.to_datetime(df['actual_delivery_time'], errors='coerce')

Rows with Invalid Delivery Times (Before Order Date):
         order_id  customer_id      order_date promised_delivery_time  \
1281  2148242015     39093069  30-04-23 23:48    2023-01-05 00:04:00
1563  7821942520     84468124  12-02-24 23:57    2024-02-13 00:12:00
2933  3368317718     70867736  31-05-24 23:59    2024-01-06 00:17:00

     actual_delivery_time        delivery_status  order_total payment_method  \
1281  2023-01-05 00:33:00  Significantly Delayed      3239.66            UPI
1563  2024-02-13 00:13:00                On Time      2732.91         Wallet
2933  2024-01-06 00:12:00                On Time       914.88            UPI

      delivery_partner_id  store_id
1281                13676      9904
1563                11136      5805
2933                96055       522

In [43]:
#unique countsin each column
print("Unique Value Counts per Column:", df.nunique(), sep="\n")

Unique Value Counts per Column:
order_id                  5000
customer_id               2172
order_date                5000
promised_delivery_time    4999
actual_delivery_time      5000
delivery_status              3
order_total               4550
payment_method               4
delivery_partner_id       5000
store_id                  5000
dtype: int64